%div{:class=>"span-11 colborder"}
  = form_for @interest_calculator do |f|
    -if @interest_calculator.errors.any?
      #error_explanation
        %h2= "#{pluralize(@interest_calculator.errors.count, "error")} prohibited this interest_calculator from being saved:"
        %ul
          - @interest_calculator.errors.full_messages.each do |msg|
            %li= msg

    %div
      Zinsbindung für die ersten
      = f.select :interest1duration, %w{1 2 3 5 10}
      Jahre
      = f.text_field :interest1, :class=>"percent"

      #slider_interest1

    %div
      Zinsbindung für die ersten
      = f.select :interest1duration, %w{1 2 3 5 10 15}
      Jahre
      = f.text_field :interest2, :class=>"percent"

      #slider_interest2
    .field
      = f.text_field :interest2duration
    .field
      = f.text_field :interestAfter
    .field
      = f.text_field :amount
    .field
      = f.text_field :payment
    .field
      = f.text_field :specialPayment
    .field
      = f.text_field :paymentMethod
    .actions
      = f.submit 'Save'
%div{:class=>"span-12 last"}
