= form_for @interest_calculator do |f|
  -if @interest_calculator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@interest_calculator.errors.count, "error")} prohibited this interest_calculator from being saved:"
      %ul
        - @interest_calculator.errors.full_messages.each do |msg|
          %li= msg

  #generalBox
    %img{:class=>"hint", :src=>"/images/Help.png", :title=>"Gib hier deine Ausgangswerte ein."}
    %table
      %tr
        %th Höhe
        %th Abzahlung
        %th Rhythmus
        %th Sondertilgung
        %th Anschlusszins
      %tr
        %td
          = f.text_field :amount
        %td
          = f.text_field :payment
        %td
          = f.select :paymentMethod, %w{monatlich jährlich}
        %td
          = f.text_field :specialPayment
        %td
          = f.text_field :interestAfter

  #interestBox
    - 4.times  do |offer|
      = render :partial=>"offers/show", :locals => { :offer => offer }
    %img{:class=>"hint", :src=>"/images/Help.png", :title=>"Aktiviere Angebote, indem du einen Haken setzt."}

  #results

  #placeholder

  .actions
    = f.submit 'Save'
