%p#notice= notice
%p
  %b Interestafter:
  = @interest_calculator.interestAfter
%p
  %b Amount:
  = @interest_calculator.amount
%p
  %b Payment:
  = @interest_calculator.payment
%p
  %b Specialpayment:
  = @interest_calculator.specialPayment
%p
  %b Paymentmethod:
  = @interest_calculator.paymentMethod

= link_to 'Edit', edit_interest_calculator_path(@interest_calculator)
\|
= link_to 'Back', interest_calculators_path
